
/*
Colors used:
Background Color (Dark Brown): #5D5C61
Primary Color (Blue): #557A95;
Secondary Color (Baige): #B1A296;
Accent Colors (Light Blue) #7395AE and (Grey) #379683
Font Color (White) #FFFFFF
*/


* {
  box-sizing: border-box;
}

header {
  background-color: #3C403D;
  padding: 10px 0 4px;
  -webkit-box-shadow:0px 5px 8px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:0px 5px 8px 0px rgba(50, 50, 50, 0.55);
  box-shadow:0px 5px 8px 0px rgba(50, 50, 50, 0.55);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 90px;
}

body {
  background-color: #DADED4;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000
}

footer {
  background-color: #3C403D;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #FFFFFF;
  width: 100%;
  padding: 0.85em;
  text-align: center;

}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #A3BCB6;
  text-decoration: none;
}
a:visited { /* visited link */
  color: #39603D;
}
a:hover {
  color: #39603D;
  text-decoration: underline;
}
a:focus {
  color: #39603D;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #39603D;
}

nav > ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF
}

nav > ul > li > a:visited{
  color: #FFFFFF;
}
nav > ul > li > a:hover{
  color: #FFFFFF;
}
nav > ul > li > a:focus{
  color: #FFFFFF;
}
nav > ul > li > a:active{
  color: #FFFFFF;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: 10px;
  font-size: 30px;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.title{
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.row{
  overflow: auto;
}

.resume{
  display: inline-block;
  background-color: #A3BCB6;
  color: #FFFFFF;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  transition: 0.2s opacity;
}

.button {
  display: inline-block;
  background-color: #A3BCB6;
  color: #FFFFFF;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  transition: 0.2s opacity;
}

.button:hover{
  opacity: 0.8;
  text-decoration: none;
}

.button:active{
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  display: inline-block;
  background-color: #7395AE;
  color: #FFFFFF;
  font-weight :500;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  transition: 0.2s opacity;
}

.button.contact:hover{
  opacity: 0.8;
  text-decoration: none;
}

.button.contact:active{
  opacity: 0.8;
  text-decoration: none;
}

.container{
  padding: 0 15px
}

.logo{
  max-width: 100px;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#projects-1{
  background-color: #FFFFFF;
  padding: 20px;
  display: inline-block;
  width: 100%;
  border: 3px solid #3C403D;
  margin-top: 10px;
  margin-bottom: 10px;
}

#project-2{
  background-color: #FFFFFF;
  padding: 20px;
  display: inline-block;
  width: 100%;
  border: 3px solid #3C403D;
  margin-top: 10px;
  margin-bottom: 10px;
}

#projects-3{
  background-color: #FFFFFF;
  padding: 20px;
  display: inline-block;
  width: 100%;
  border: 3px solid #3C403D;
  margin-top: 10px;
  margin-bottom: 10px;
}

#bio{
  background-color: #FFFFFF;
  padding: 20px;
  display: inline-block;
  width: 100%;
  border: 3px solid #3C403D;
  margin-top: 10px;
  margin-bottom: 10px;
}

#download{
  display: inline-block;
  background-color: #A3BCB6;
  color: #000000;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  transition: 0.2s opacity;
}

#skill{
  background-color: #FFFFFF;
  padding: 20px;
  display:inline-block;
  border: 3px solid #3C403D;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 90px;
}

#tool{
  background-color: #FFFFFF;
  padding: 20px;
  padding-bottom: 75px;
  display:inline-block;
  border: 3px solid #3C403D;
  margin-top: 10px;
  margin-bottom: 10px;
}

#summary{
  background-color: #FFFFFF;
  padding: 20px;
  display: inline-block;
  width: 100%;
  border: 3px solid #3C403D;
  margin-top: 10px;
  margin-bottom: 10px;
}

#process{
  background-color: #FFFFFF;
  padding: 20px;
  display: inline-block;
  width: 100%;
  border: 3px solid #3C403D;
  margin-top: 10px;
  margin-bottom: 10px;
}

#prototype{
  background-color: #FFFFFF;
  padding: 20px;
  display: inline-block;
  width: 100%;
  border: 3px solid #3C403D;
  margin-top: 10px;
  margin-bottom: 10px;
}

#hero h1 {
  text-align: center;
}

#intro {
  background-color: #FFFFFF;
  padding: 20px;
  display: inline-block;
  width: 100%;
  border: 3px solid #3C403D;
}

@media only screen and (min-width: 640px) {
  header{
  text-align: unset;
  padding: 20px 0 13px;
  }
  nav{
  width: auto;
  float: right;
  margin-top: 4px;
  }
  nav > ul {
  margin: 1em 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  main{
  padding-top: 120px;
  }
  body{
  font-size: 18px;
  }
  #intro{
  text-align: center;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
  }
  .navtoggle li:last-child {
  display: none;
  }
  .col-md-6{
  width: 45%;
  }
  .row::after {
  content: "";
  clear: both;
  display: table;
  }
}


@media only screen and (min-width: 1024px) {
  header{
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav{
    width: auto;
    float: right;
    margin-top: 4px;
  }
  main{
    padding-top: 110px;
  }
  body{
    font-size: 18px;
  }
  #intro{
    text-align: center;
  }
  .col-lg-5{
    width: 40%;
  }
  .col-lg-7{
    width: 60%;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
}

[class*="col-"]{
  float: left;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
